<div class= "top-wrapper">
  <div class= "logo">
  <%= link_to image_tag("logo.png", class:"icon"), "#" %>    
  </div>
  <div class="nav">
    <div class="set-room">
    <%= link_to "Roomを作る", "#", class:"room-btn" %>
    </div>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname sign-set" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout sign-set" %></li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path , class: "login sign-set" %></li>
      <li><%= link_to '新規登録',  new_user_registration_path , class: "sign-up sign-set" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="memo">
    <%= render "memo" %>
  </div>
</div>